<footer class="footer">
  <p>This page was built using Antora. - <a href="https://github.com/asciidoctor/asciidoctor-intellij-plugin">GitHub</a> - <a href="/imprint">Imprint</a> - <a href="/privacy">Privacy</a></p>
</footer>
